.cmp-btn {
  display: flex;
  flex-basis: content;

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1076a8;
    border-color: #1076a8;
    color: #fff;
    width: auto;
    border-radius: 6.25em;

    a {
      padding: 0.5em 2.5em;
      text-wrap: wrap;
      color: inherit;
      text-decoration: none;
      display: block;
      text-decoration: none;
      white-space: normal;
      font-weight: 600;
    }
  }
}
